<a href="https://colab.research.google.com/github/dipbanik/MyTectraJuly/blob/develop/DATA/Introduction_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Pandas

<img src=https://pandas.pydata.org/_static/pandas_logo.png>

* Pandas is a python library for analyzing data
* Provides classes to read, manipulate and analyze *tabular data* 
  * Tabular or relational data is organized into rows and columns
  * Rows contain individual elements
  * Columns contain properties of each element
* Using pandas in your code

```python
import pandas as pd
```

In [9]:
import numpy as np
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/develop/DATA/iris.csv')
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [10]:
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/develop/DATA/iris.csv',index_col=False)
df.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

# Pandas data structure
* Pandas is built around two collection objects
  * DataFrame
    * Tabular data structure
    * Consists of 
       * columns (each of which is a series)
       * index: name(s) attached to rows
       * Can be accessed as collection of rows and/or columns
  * Series  
    * Similar to a Numpy array
    * Consists of a name, values and *index* 
      * Numpy arrays do not have an index
    * The values and indices are themselves Numpy arrays

# Series
* Series can be created from a variety of data sources
```python
pd.Series(self, data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
```
* From lists/arrays
  * numeric index is implicitly created
  * index can also be explcitly specified
  * behaves similarly to numpy arrays
  * name can still be assigned
* From dictionaries
  * dictionary keys become indices
  * dictionary values become series values
  * If an index is provided, it is used to select dictionary elements
  * name can still be assigned

In [11]:
import pandas as pd

# implicit index
series = pd.Series([10, 20, 30])
print(series)
print

# explicit index
series = pd.Series([0, 1, 2, 3], index=["zero", "one", "two", "three"])
print(series)
print

# implicit index
capitals = pd.Series({
      'France': 'Paris',
      'Japan': 'Tokyo', 
      'Germany': 'Berlin'})
print(capitals)

0    10
1    20
2    30
dtype: int64
zero     0
one      1
two      2
three    3
dtype: int64
France      Paris
Japan       Tokyo
Germany    Berlin
dtype: object

# Accessing elements
* Recall
  * elements of a python list can be accessed by numerical index
  * elements of a python dict can be accessed using keys
* Series can be indexed both ways
  ```python
capitals = pd.Series({
        'France': 'Paris',
        'Japan': 'Tokyo', 
        'Germany': 'Berlin'})
France      Paris
Germany    Berlin
Japan       Tokyo
  ```
  * Numerical index
  ```python
   capitals.iloc[0] #integer-location
  ```
  * Associative index(key)
  ```python
   capitals.loc['Germany']
  ```

In [12]:
capitals = pd.Series(
        {'France': 'Paris',
         'Japan': 'Tokyo',
         'Germany': 'Berlin'})
print(capitals)

# indexing by location
print(capitals.iloc[0])

# indexing by key
print(capitals.loc['France'])

France      Paris
Japan       Tokyo
Germany    Berlin
dtype: object
Paris
Paris

# Operating on series
* Manipulation of the series
  * Similar to numpy, operations can be applied to all elements
* Querying subset of the series
  * Similar to numpy, series elements can be sliced by
    ranges or logical arrays

In [13]:
series = pd.Series(np.arange(10))
print(series.head())

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [14]:
# Adding a constant to all elements
result = series + 2
print(result.head())

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [15]:
# Squaring all elements
result = series * series
print(result.head())

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [16]:
# Logical operators
result = series > 2
print(result.head())

0    False
1    False
2    False
3     True
4     True
dtype: bool

# DataFrame
* Two dimensional structure
* Represents tabular/relational data
* Consists of 
  * named column(s)
  * index
* Properties
  * each column is a pandas Series object
  * all elements within the column have the same data type
  * different columns can have different data types

In [17]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/develop/DATA/iris.csv')
df.tail()

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

# Creating data frames
* From list of dictionaries
  * Each element of the list represents a row
  ```python
  df = pd.DataFrame([
    {'Item': 'Book', 'Cost': 10},
    {'Item': 'Pen', 'Cost': 2}
  ])
  ```
* From list of series
  * Each series represents a column
  ```python
  items = pd.Series(['Book', 'Pen'])
  costs = pd.Series([10, 2])
  df = pd.DataFrame({'Item': items, 'Cost': costs})
  ```
* From a file
  * Pandas can import data from sql, csv, tsv, excel etc.

# Dataframe properties
* df.columns - names of columns
* df.size - size of the dataframe
* df.shape - number or rows and columns
* df.info() - column descriptions
* df.describe() - descriptive statistics

In [0]:
df = pd.DataFrame([
{'Item': 'Book', 'Cost': 10},
{'Item': 'Pen', 'Cost': 2}
])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
Cost    2 non-null int64
Item    2 non-null object
dtypes: int64(1), object(1)
memory usage: 112.0+ bytes

In [21]:
df.describe()

            Cost
count   2.000000
mean    6.000000
std     5.656854
min     2.000000
25%     4.000000
50%     6.000000
75%     8.000000
max    10.000000

In [22]:
df.shape

(2, 2)

In [23]:
# Creating from a list of dicts
df = pd.DataFrame([
    {'Item': 'Book', 'Cost': 10},
    {'Item': 'Pen', 'Cost': 2}
], index=['StoreA', 'StoreB'])
df

        Cost  Item
StoreA    10  Book
StoreB     2   Pen

In [24]:
# Creating from a list of series objects
items = pd.Series(['Book', 'Pen'])
costs = pd.Series([10, 2])
df = pd.DataFrame({'Item': items, 'Cost': costs})
df

   Item  Cost
0  Book    10
1   Pen     2

# Accessing data frame elements
```python
        Cost  Discount  Item
StoreA    10        20  Book
StoreB     2        30   Pen
```

* Accessing columns
```python
# Single column
df['Cost']
# Multiple columns
df[['Cost','Discount']]
```

* Accessing row(s) by location
```python
df.iloc[0]
```

* Accessing specific columns by location
```python
df.loc[0, 'Item']
```

* Accessing row by index
```python
df.loc['StoreA']
```

# Accessing data (cont.)

* Slicing
  * If slicing results in multiple rows, the result is a new data frame.
  * If slicing results in a single row/col, the result is a Series
  * Slicing can be across rows, columns or both
  * Examples
```python
df.iloc[0:2,:] # results in a dataframe
df.iloc[0] # results in a series
```

In [25]:
# Creating from a list of dicts
df = pd.DataFrame([
    {'Item': 'Book', 'Cost': 10, 'Discount': 10},
    {'Item': 'Pen', 'Cost': 2, 'Discount': 15}
], index=['StoreA', 'StoreB'])
df

print("DataFrame")
print(df.iloc[0:2,:]) # results in a dataframe

print("Series")
print(df.iloc[0]) # results in a series

DataFrame
        Cost  Discount  Item
StoreA    10        10  Book
StoreB     2        15   Pen
Series
Cost          10
Discount      10
Item        Book
Name: StoreA, dtype: object

# Modifying data
* Modifying individual columns is identical to modifying series
  * Example
```python
cost = df['Cost']
cost = cost + 10
df
```

* Note that modifying the series affects modifies the dataframe
* Rows can be modified using slicing/indexing sections of the data frame

In [26]:
print("Before")
print(df)

cost = df['Cost']
cost += 10

print("After")
print(df)

# Can be directly manipulated
df['Cost'] = df['Cost'] * (100- df['Discount'])/100

print("After discount")
print(df)

Before
        Cost  Discount  Item
StoreA    10        10  Book
StoreB     2        15   Pen
After
        Cost  Discount  Item
StoreA    20        10  Book
StoreB    12        15   Pen
After discount
        Cost  Discount  Item
StoreA  18.0        10  Book
StoreB  10.2        15   Pen

In [27]:
print("Before")
print(df)

# Row can be accessed using loc()
df.loc['StoreA','Discount'] = 20
print("After")
print(df)

Before
        Cost  Discount  Item
StoreA  18.0        10  Book
StoreB  10.2        15   Pen
After
        Cost  Discount  Item
StoreA  18.0        20  Book
StoreB  10.2        15   Pen

# Querying data
* Consider the following dataset
```python
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/develop/DATA/iris.csv')
df['species'].unique()
array(['setosa', 'versicolor', 'virginica'], dtype=object)
```
  * We can access elements where species is setosa using a two-step process
    * We create a boolean series where each entry indicates if the species is 'setosa'
    * We can slice the dataframe with the boolean series
```python
is_setosa = df['species']=='setosa'
df.loc[is_setosa]
```
 * We can use boolean expressions to restrict rows satisfying multiple conditions
```python
is_setosa = df['species']=='setosa'
has_large_width = df['sepal_width'] > 8
df.loc[is_setosa & has_large_width]
# & is the boolean `and` operator
```

In [31]:
df = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/develop/DATA/iris.csv')
is_setosa = df['Class']=='Iris-setosa' # Create a boolean series
is_setosa.head()

0    True
1    True
2    True
3    True
4    True
Name: Class, dtype: bool

In [34]:
is_setosa = df['Class']=='Iris-setosa'
has_large_width = df['SepalWidth'] > 3
df.loc[is_setosa & has_large_width]

    SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0           5.1         3.5          1.4         0.2  Iris-setosa
2           4.7         3.2          1.3         0.2  Iris-setosa
3           4.6         3.1          1.5         0.2  Iris-setosa
4           5.0         3.6          1.4         0.2  Iris-setosa
5           5.4         3.9          1.7         0.4  Iris-setosa
6           4.6         3.4          1.4         0.3  Iris-setosa
7           5.0         3.4          1.5         0.2  Iris-setosa
9           4.9         3.1          1.5         0.1  Iris-setosa
10          5.4         3.7          1.5         0.2  Iris-setosa
11          4.8         3.4          1.6         0.2  Iris-setosa
14          5.8         4.0          1.2         0.2  Iris-setosa
15          5.7         4.4          1.5         0.4  Iris-setosa
16          5.4         3.9          1.3         0.4  Iris-setosa
17          5.1         3.5          1.4         0.3  Iris-setosa
18          5.7         3.8          1.7         0.3  Iris-setosa
19          5.1         3.8          1.5         0.3  Iris-setosa
20          5.4         3.4          1.7         0.2  Iris-setosa
21          5.1         3.7          1.5         0.4  Iris-setosa
22          4.6         3.6          1.0         0.2  Iris-setosa
23          5.1         3.3          1.7         0.5  Iris-setosa
24          4.8         3.4          1.9         0.2  Iris-setosa
26          5.0         3.4          1.6         0.4  Iris-setosa
27          5.2         3.5          1.5         0.2  Iris-setosa
28          5.2         3.4          1.4         0.2  Iris-setosa
29          4.7         3.2          1.6         0.2  Iris-setosa
30          4.8         3.1          1.6         0.2  Iris-setosa
31          5.4         3.4          1.5         0.4  Iris-setosa
32          5.2         4.1          1.5         0.1  Iris-setosa
33          5.5         4.2          1.4         0.2  Iris-setosa
34          4.9         3.1          1.5         0.1  Iris-setosa
35          5.0         3.2          1.2         0.2  Iris-setosa
36          5.5         3.5          1.3         0.2  Iris-setosa
37          4.9         3.1          1.5         0.1  Iris-setosa
39          5.1         3.4          1.5         0.2  Iris-setosa
40          5.0         3.5          1.3         0.3  Iris-setosa
42          4.4         3.2          1.3         0.2  Iris-setosa
43          5.0         3.5          1.6         0.6  Iris-setosa
44          5.1         3.8          1.9         0.4  Iris-setosa
46          5.1         3.8          1.6         0.2  Iris-setosa
47          4.6         3.2          1.4         0.2  Iris-setosa
48          5.3         3.7          1.5         0.2  Iris-setosa
49          5.0         3.3          1.4         0.2  Iris-setosa