In [0]:
from sklearn.preprocessing import Imputer
#used for data preprocessing

##Missing Values

In [2]:
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis=0)
# use mean median or mode according to the need.
#axis = 0 means that we take the mean of the column.
#axis = 1 means that we are going to take the mean of the row.

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
#get data
import pandas as pd
dataset = pd.read_csv('Data.csv')

In [5]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [0]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:,3].values

In [6]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [7]:
X[:, 1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, nan],
       [35.0, 58000.0],
       [nan, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [0]:
imputer = imputer.fit(X[:, 1:3])
#index in python start at 0, so we are going to take the second column and the third column. 
#We have to give +1 for the end column so that it takes it till 2.

In [0]:
X[:, 1:3] = imputer.transform(X[:, 1:3])
#transform is used to apply the changes.

In [10]:
X[:, 1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, 63777.77777777778],
       [35.0, 58000.0],
       [38.77777777777778, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

##Categorical Data

We would only want numbers in our dataset. Let's see how we can do that with categorical data.

In [0]:
from sklearn.preprocessing import LabelEncoder
# this is used for data transformation of categorical data
labelEncoder_X = LabelEncoder()

In [12]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

Let's encode the Countries column which is Spain, France and Germany and assign a number to each value.

In [0]:
X[:, 0] =  labelEncoder_X.fit_transform(X[:, 0])

In [14]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

However, there is a problem with this. Since 1 is greater than 0 and 2 is greater than 1 and 2, the algorithm might tthink that Spain nis greater than France and Germany. So this is not exactly the right way. 

Id it would had been small, large and medium, it still could had made sense since large is greater than small and medium and so on. But here it does not make any sense.

## Dummy Encoding / One Hot Encoding

Instead of having one column here, we are going to have 3(number of categories) columns representing the value.

In [0]:
from sklearn.preprocessing import OneHotEncoder
# this is used for data transformation of categorical data

In [0]:
#help(OneHotEncoder())
onehotencoder = OneHotEncoder(categorical_features = [0])

In [0]:
#help(OneHotEncoder())

In [21]:
X = onehotencoder.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [22]:
pd.DataFrame(X)

     0    1    2    3          4             5
0  0.0  1.0  0.0  0.0  44.000000  72000.000000
1  1.0  0.0  0.0  1.0  27.000000  48000.000000
2  1.0  0.0  1.0  0.0  30.000000  54000.000000
3  1.0  0.0  0.0  1.0  38.000000  61000.000000
4  1.0  0.0  1.0  0.0  40.000000  63777.777778
5  0.0  1.0  0.0  0.0  35.000000  58000.000000
6  1.0  0.0  0.0  1.0  38.777778  52000.000000
7  0.0  1.0  0.0  0.0  48.000000  79000.000000
8  1.0  0.0  1.0  0.0  50.000000  83000.000000
9  0.0  1.0  0.0  0.0  37.000000  67000.000000

Let's take care of the Purchased column now. So we will be working with y.
However, we do not need to use one hot encoder here, we can simplyt do this with labelEncoder as there are just two categories.

In [0]:
labelEncoder_y = LabelEncoder()
y = labelEncoder_y.fit_transform(y)

In [24]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

Since the above code has depreciated, you can use the below code as well.

Here, you do not need to use the labelEncoder and can directly work with the one hot encoder.

In [25]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
coltransf_X = ColumnTransformer([("one_hot_encoder", OneHotEncoder(), [0])], remainder='passthrough')
X = coltransf_X.fit_transform(X)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [26]:
pd.DataFrame(X)

     0    1    2    3    4          5             6
0  1.0  0.0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  1.0  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  1.0  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  1.0  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  1.0  0.0  0.0  37.000000  67000.000000

In [0]:
?ColumnTransformer

##Data Splitting

Split data into test and training set

In [0]:
#Splitting the data into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

##Feature Scaling

Convert the data into the same scale

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [0]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
# we have already fit the data with the train set so we do not need to fit it again
#so only transform is run on the test set

In [33]:
pd.DataFrame(X_train)

     0    1    2         3         4         5         6
0 -1.0  1.0 -1.0  2.645751 -0.774597  0.263068  0.123815
1  1.0 -1.0  1.0 -0.377964 -0.774597 -0.253501  0.461756
2 -1.0  1.0 -1.0 -0.377964  1.290994 -1.975398 -1.530933
3 -1.0  1.0 -1.0 -0.377964  1.290994  0.052614 -1.111420
4  1.0 -1.0  1.0 -0.377964 -0.774597  1.640585  1.720297
5 -1.0  1.0 -1.0 -0.377964  1.290994 -0.081312 -0.167514
6  1.0 -1.0  1.0 -0.377964 -0.774597  0.951826  0.986148
7  1.0 -1.0  1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [34]:
pd.DataFrame(X_test)

     0    1    2         3         4         5         6
0 -1.0  1.0 -1.0  2.645751 -0.774597 -1.458829 -0.901663
1 -1.0  1.0 -1.0  2.645751 -0.774597  1.984964  2.139811

In [0]:
#we do not need to transform the