In [0]:
from sklearn.preprocessing import Imputer
#used for data preprocessing

##Missing Values

In [3]:
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis=0)
# use mean median or mode according to the need.
#axis = 0 means that we take the mean of the column.
#axis = 1 means that we are going to take the mean of the row.

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
#get data
import pandas as pd
dataset = pd.read_csv('https://raw.githubusercontent.com/dipbanik/MyTectraJuly/master/Data_Preprocessing_and_Bias_Variance/Data.csv')

In [5]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [0]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:,3].values

In [7]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
X[:, 1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, nan],
       [35.0, 58000.0],
       [nan, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

In [0]:
imputer = imputer.fit(X[:, 1:3])
#index in python start at 0, so we are going to take the second column and the third column. 
#We have to give +1 for the end column so that it takes it till 2.

In [0]:
X[:, 1:3] = imputer.transform(X[:, 1:3])
#transform is used to apply the changes.

In [14]:
X[:, 1:3]

array([[44.0, 72000.0],
       [27.0, 48000.0],
       [30.0, 54000.0],
       [38.0, 61000.0],
       [40.0, 63777.77777777778],
       [35.0, 58000.0],
       [38.77777777777778, 52000.0],
       [48.0, 79000.0],
       [50.0, 83000.0],
       [37.0, 67000.0]], dtype=object)

##Categorical Data

We would only want numbers in our dataset. Let's see how we can do that with categorical data.

In [0]:
from sklearn.preprocessing import LabelEncoder
# this is used for data transformation of categorical data
labelEncoder_X = LabelEncoder()

In [16]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

Let's encode the Countries column which is Spain, France and Germany and assign a number to each value.

In [0]:
X[:, 0] =  labelEncoder_X.fit_transform(X[:, 0])

In [19]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

However, there is a problem with this. Since 1 is greater than 0 and 2 is greater than 1 and 2, the algorithm might tthink that Spain nis greater than France and Germany. So this is not exactly the right way. 

Id it would had been small, large and medium, it still could had made sense since large is greater than small and medium and so on. But here it does not make any sense.

## Dummy Encoding / One Hot Encoding

Instead of having one column here, we are going to have 3(number of categories) columns representing the value.

In [0]:
from sklearn.preprocessing import OneHotEncoder
# this is used for data transformation of categorical data

In [21]:
help(OneHotEncoder())

Help on OneHotEncoder in module sklearn.preprocessing._encoders object:

class OneHotEncoder(_BaseEncoder)
 |  Encode categorical integer features as a one-hot numeric array.
 |
 |  The input to this transformer should be an array-like of integers or
 |  strings, denoting the values taken on by categorical (discrete) features.
 |  The features are encoded using a one-hot (aka 'one-of-K' or 'dummy')
 |  encoding scheme. This creates a binary column for each category and
 |  returns a sparse matrix or dense array.
 |
 |  By default, the encoder derives the categories based on the unique values
 |  in each feature. Alternatively, you can also specify the `categories`
 |  manually.
 |  The OneHotEncoder previously assumed that the input features take on
 |  values in the range [0, max(values)). This behaviour is deprecated.
 |
 |  This encoding is needed for feeding categorical data to many scikit-learn
 |  estimators, notably linear models and SVMs with the standard kernels.
 |
 |  Note: a one-hot encoding of y labels should use a LabelBinarizer
 |  instead.
 |
 |  Read more in the :ref:`User Guide <preprocessing_categorical_features>`.
 |
 |  Parameters
 |  ----------
 |  categories : 'auto' or a list of lists/arrays of values, default='auto'.
 |      Categories (unique values) per feature:
 |
 |      - 'auto' : Determine categories automatically from the training data.
 |      - list : ``categories[i]`` holds the categories expected in the ith
 |        column. The passed categories should not mix strings and numeric
 |        values within a single feature, and should be sorted in case of
 |        numeric values.
 |
 |      The used categories can be found in the ``categories_`` attribute.
 |
 |  drop : 'first' or a list/array of shape (n_features,), default=None.
 |      Specifies a methodology to use to drop one of the categories per
 |      feature. This is useful in situations where perfectly collinear
 |      features cause problems, such as when feeding the resulting data
 |      into a neural network or an unregularized regression.
 |
 |      - None : retain all features (the default).
 |      - 'first' : drop the first category in each feature. If only one
 |        category is present, the feature will be dropped entirely.
 |      - array : ``drop[i]`` is the category in feature ``X[:, i]`` that
 |        should be dropped.
 |
 |  sparse : boolean, default=True
 |      Will return sparse matrix if set True else will return an array.
 |
 |  dtype : number type, default=np.float
 |      Desired dtype of output.
 |
 |  handle_unknown : 'error' or 'ignore', default='error'.
 |      Whether to raise an error or ignore if an unknown categorical feature
 |      is present during transform (default is to raise). When this parameter
 |      is set to 'ignore' and an unknown category is encountered during
 |      transform, the resulting one-hot encoded columns for this feature
 |      will be all zeros. In the inverse transform, an unknown category
 |      will be denoted as None.
 |
 |  n_values : 'auto', int or array of ints, default='auto'
 |      Number of values per feature.
 |
 |      - 'auto' : determine value range from training data.
 |      - int : number of categorical values per feature.
 |              Each feature value should be in ``range(n_values)``
 |      - array : ``n_values[i]`` is the number of categorical values in
 |                ``X[:, i]``. Each feature value should be
 |                in ``range(n_values[i])``
 |
 |      .. deprecated:: 0.20
 |          The `n_values` keyword was deprecated in version 0.20 and will
 |          be removed in 0.22. Use `categories` instead.
 |
 |  categorical_features : 'all' or array of indices or mask, default='all'
 |      Specify what features are treated as categorical.
 |
 |      - 'all': All features are treated as categorical.
 |      - array of indices: Array of categorical feature indices.
 |      - mask: Array of length n_features and with dtype=bool.
 |
 |      Non-categorical features are always stacked to the right of the matrix.
 |
 |      .. deprecated:: 0.20
 |          The `categorical_features` keyword was deprecated in version
 |          0.20 and will be removed in 0.22.
 |          You can use the ``ColumnTransformer`` instead.
 |
 |  Attributes
 |  ----------
 |  categories_ : list of arrays
 |      The categories of each feature determined during fitting
 |      (in order of the features in X and corresponding with the output
 |      of ``transform``). This includes the category specified in ``drop``
 |      (if any).
 |
 |  drop_idx_ : array of shape (n_features,)
 |      ``drop_idx_[i]`` is the index in ``categories_[i]`` of the category to
 |      be dropped for each feature. None if all the transformed features will
 |      be retained.
 |
 |  active_features_ : array
 |      Indices for active features, meaning values that actually occur
 |      in the training set. Only available when n_values is ``'auto'``.
 |
 |      .. deprecated:: 0.20
 |          The ``active_features_`` attribute was deprecated in version
 |          0.20 and will be removed in 0.22.
 |
 |  feature_indices_ : array of shape (n_features,)
 |      Indices to feature ranges.
 |      Feature ``i`` in the original data is mapped to features
 |      from ``feature_indices_[i]`` to ``feature_indices_[i+1]``
 |      (and then potentially masked by ``active_features_`` afterwards)
 |
 |      .. deprecated:: 0.20
 |          The ``feature_indices_`` attribute was deprecated in version
 |          0.20 and will be removed in 0.22.
 |
 |  n_values_ : array of shape (n_features,)
 |      Maximum number of values per feature.
 |
 |      .. deprecated:: 0.20
 |          The ``n_values_`` attribute was deprecated in version
 |          0.20 and will be removed in 0.22.
 |
 |  Examples
 |  --------
 |  Given a dataset with two features, we let the encoder find the unique
 |  values per feature and transform the data to a binary one-hot encoding.
 |
 |  >>> from sklearn.preprocessing import OneHotEncoder
 |  >>> enc = OneHotEncoder(handle_unknown='ignore')
 |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
 |  >>> enc.fit(X)
 |  ... # doctest: +ELLIPSIS
 |  ... # doctest: +NORMALIZE_WHITESPACE
 |  OneHotEncoder(categorical_features=None, categories=None, drop=None,
 |     dtype=<... 'numpy.float64'>, handle_unknown='ignore',
 |     n_values=None, sparse=True)
 |
 |  >>> enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
 |  array([[1., 0., 1., 0., 0.],
 |         [0., 1., 0., 0., 0.]])
 |  >>> enc.inverse_transform([[0, 1, 1, 0, 0], [0, 0, 0, 1, 0]])
 |  array([['Male', 1],
 |         [None, 2]], dtype=object)
 |  >>> enc.get_feature_names()
 |  array(['x0_Female', 'x0_Male', 'x1_1', 'x1_2', 'x1_3'], dtype=object)
 |  >>> drop_enc = OneHotEncoder(drop='first').fit(X)
 |  >>> drop_enc.categories_
 |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
 |  >>> drop_enc.transform([['Female', 1], ['Male', 2]]).toarray()
 |  array([[0., 0., 0.],
 |         [1., 1., 0.]])
 |
 |  See also
 |  --------
 |  sklearn.preprocessing.OrdinalEncoder : performs an ordinal (integer)
 |    encoding of the categorical features.
 |  sklearn.feature_extraction.DictVectorizer : performs a one-hot encoding of
 |    dictionary items (also handles string-valued features).
 |  sklearn.feature_extraction.FeatureHasher : performs an approximate one-hot
 |    encoding of dictionary items or strings.
 |  sklearn.preprocessing.LabelBinarizer : binarizes labels in a one-vs-all
 |    fashion.
 |  sklearn.preprocessing.MultiLabelBinarizer : transforms between iterable of
 |    iterables and a multilabel format, e.g. a (samples x classes) binary
 |    matrix indicating the presence of a class label.
 |
 |  Method resolution order:
 |      OneHotEncoder
 |      _BaseEncoder
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, n_values=None, categorical_features=None, categories=None, drop=None, sparse=True, dtype=<class 'numpy.float64'>, handle_unknown='error')
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit OneHotEncoder to X.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to determine the categories of each feature.
 |
 |      Returns
 |      -------
 |      self
 |
 |  fit_transform(self, X, y=None)
 |      Fit OneHotEncoder to X, then transform X.
 |
 |      Equivalent to fit(X).transform(X) but more convenient.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  get_feature_names(self, input_features=None)
 |      Return feature names for output features.
 |
 |      Parameters
 |      ----------
 |      input_features : list of string, length n_features, optional
 |          String names for input features if available. By default,
 |          "x0", "x1", ... "xn_features" is used.
 |
 |      Returns
 |      -------
 |      output_feature_names : array of string, length n_output_features
 |
 |  inverse_transform(self, X)
 |      Convert the back data to the original representation.
 |
 |      In case unknown categories are encountered (all zeros in the
 |      one-hot encoding), ``None`` is used to represent this category.
 |
 |      Parameters
 |      ----------
 |      X : array-like or sparse matrix, shape [n_samples, n_encoded_features]
 |          The transformed data.
 |
 |      Returns
 |      -------
 |      X_tr : array-like, shape [n_samples, n_features]
 |          Inverse transformed array.
 |
 |  transform(self, X)
 |      Transform X using one-hot encoding.
 |
 |      Parameters
 |      ----------
 |      X : array-like, shape [n_samples, n_features]
 |          The data to encode.
 |
 |      Returns
 |      -------
 |      X_out : sparse matrix if sparse=True else a 2-d array
 |          Transformed input.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  active_features_
 |
 |  feature_indices_
 |
 |  n_values_
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as pipelines). The latter have parameters of the form
 |      ``<component>__<parameter>`` so that it's possible to update each
 |      component of a nested object.
 |
 |      Returns
 |      -------
 |      self
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [0]:
onehotencoder = OneHotEncoder(categorical_features = [0])

In [0]:
#help(OneHotEncoder())

In [30]:
X = onehotencoder.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [33]:
X

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.40000000e+01,
        7.20000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 2.70000000e+01,
        4.80000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 3.00000000e+01,
        5.40000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.80000000e+01,
        6.10000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 4.00000000e+01,
        6.37777778e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.50000000e+01,
        5.80000000e+04],
       [0.00000000e+00, 0.00000000e+00, 1.00000000e+00, 3.87777778e+01,
        5.20000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 4.80000000e+01,
        7.90000000e+04],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, 5.00000000e+01,
        8.30000000e+04],
       [1.00000000e+00, 0.00000000e+00, 0.00000000e+00, 3.70000000e+01,
        6.70000000e+04]])

In [34]:
pd.DataFrame(X)

     0    1    2          3             4
0  1.0  0.0  0.0  44.000000  72000.000000
1  0.0  0.0  1.0  27.000000  48000.000000
2  0.0  1.0  0.0  30.000000  54000.000000
3  0.0  0.0  1.0  38.000000  61000.000000
4  0.0  1.0  0.0  40.000000  63777.777778
5  1.0  0.0  0.0  35.000000  58000.000000
6  0.0  0.0  1.0  38.777778  52000.000000
7  1.0  0.0  0.0  48.000000  79000.000000
8  0.0  1.0  0.0  50.000000  83000.000000
9  1.0  0.0  0.0  37.000000  67000.000000

Let's take care of the Purchased column now. So we will be working with y.
However, we do not need to use one hot encoder here, we can simplyt do this with labelEncoder as there are just two categories.

In [0]:
labelEncoder_y = LabelEncoder()
y = labelEncoder_y.fit_transform(y)

In [36]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

Since the above code has depreciated, you can use the below code as well.

Here, you do not need to use the labelEncoder and can directly work with the one hot encoder.

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
coltransf_X = ColumnTransformer([("one_hot_encoder", OneHotEncoder(), [0])], remainder='passthrough')
X = coltransf_X.fit_transform(X)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [38]:
help(ColumnTransformer)

Help on class ColumnTransformer in module sklearn.compose._column_transformer:

class ColumnTransformer(sklearn.utils.metaestimators._BaseComposition, sklearn.base.TransformerMixin)
 |  Applies transformers to columns of an array or pandas DataFrame.
 |
 |  This estimator allows different columns or column subsets of the input
 |  to be transformed separately and the features generated by each transformer
 |  will be concatenated to form a single feature space.
 |  This is useful for heterogeneous or columnar data, to combine several
 |  feature extraction mechanisms or transformations into a single transformer.
 |
 |  Read more in the :ref:`User Guide <column_transformer>`.
 |
 |  .. versionadded:: 0.20
 |
 |  Parameters
 |  ----------
 |  transformers : list of tuples
 |      List of (name, transformer, column(s)) tuples specifying the
 |      transformer objects to be applied to subsets of the data.
 |
 |      name : string
 |          Like in Pipeline and FeatureUnion, this allows the transformer and
 |          its parameters to be set using ``set_params`` and searched in grid
 |          search.
 |      transformer : estimator or {'passthrough', 'drop'}
 |          Estimator must support `fit` and `transform`. Special-cased
 |          strings 'drop' and 'passthrough' are accepted as well, to
 |          indicate to drop the columns or to pass them through untransformed,
 |          respectively.
 |      column(s) : string or int, array-like of string or int, slice, boolean mask array or callable
 |          Indexes the data on its second axis. Integers are interpreted as
 |          positional columns, while strings can reference DataFrame columns
 |          by name.  A scalar string or int should be used where
 |          ``transformer`` expects X to be a 1d array-like (vector),
 |          otherwise a 2d array will be passed to the transformer.
 |          A callable is passed the input data `X` and can return any of the
 |          above.
 |
 |  remainder : {'drop', 'passthrough'} or estimator, default 'drop'
 |      By default, only the specified columns in `transformers` are
 |      transformed and combined in the output, and the non-specified
 |      columns are dropped. (default of ``'drop'``).
 |      By specifying ``remainder='passthrough'``, all remaining columns that
 |      were not specified in `transformers` will be automatically passed
 |      through. This subset of columns is concatenated with the output of
 |      the transformers.
 |      By setting ``remainder`` to be an estimator, the remaining
 |      non-specified columns will use the ``remainder`` estimator. The
 |      estimator must support :term:`fit` and :term:`transform`.
 |
 |  sparse_threshold : float, default = 0.3
 |      If the output of the different transformers contains sparse matrices,
 |      these will be stacked as a sparse matrix if the overall density is
 |      lower than this value. Use ``sparse_threshold=0`` to always return
 |      dense.  When the transformed output consists of all dense data, the
 |      stacked result will be dense, and this keyword will be ignored.
 |
 |  n_jobs : int or None, optional (default=None)
 |      Number of jobs to run in parallel.
 |      ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
 |      ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
 |      for more details.
 |
 |  transformer_weights : dict, optional
 |      Multiplicative weights for features per transformer. The output of the
 |      transformer is multiplied by these weights. Keys are transformer names,
 |      values the weights.
 |
 |  verbose : boolean, optional(default=False)
 |      If True, the time elapsed while fitting each transformer will be
 |      printed as it is completed.
 |
 |  Attributes
 |  ----------
 |  transformers_ : list
 |      The collection of fitted transformers as tuples of
 |      (name, fitted_transformer, column). `fitted_transformer` can be an
 |      estimator, 'drop', or 'passthrough'. In case there were no columns
 |      selected, this will be the unfitted transformer.
 |      If there are remaining columns, the final element is a tuple of the
 |      form:
 |      ('remainder', transformer, remaining_columns) corresponding to the
 |      ``remainder`` parameter. If there are remaining columns, then
 |      ``len(transformers_)==len(transformers)+1``, otherwise
 |      ``len(transformers_)==len(transformers)``.
 |
 |  named_transformers_ : Bunch object, a dictionary with attribute access
 |      Read-only attribute to access any transformer by given name.
 |      Keys are transformer names and values are the fitted transformer
 |      objects.
 |
 |  sparse_output_ : boolean
 |      Boolean flag indicating wether the output of ``transform`` is a
 |      sparse matrix or a dense numpy array, which depends on the output
 |      of the individual transformers and the `sparse_threshold` keyword.
 |
 |  Notes
 |  -----
 |  The order of the columns in the transformed feature matrix follows the
 |  order of how the columns are specified in the `transformers` list.
 |  Columns of the original feature matrix that are not specified are
 |  dropped from the resulting transformed feature matrix, unless specified
 |  in the `passthrough` keyword. Those columns specified with `passthrough`
 |  are added at the right to the output of the transformers.
 |
 |  See also
 |  --------
 |  sklearn.compose.make_column_transformer : convenience function for
 |      combining the outputs of multiple transformer objects applied to
 |      column subsets of the original feature space.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.compose import ColumnTransformer
 |  >>> from sklearn.preprocessing import Normalizer
 |  >>> ct = ColumnTransformer(
 |  ...     [("norm1", Normalizer(norm='l1'), [0, 1]),
 |  ...      ("norm2", Normalizer(norm='l1'), slice(2, 4))])
 |  >>> X = np.array([[0., 1., 2., 2.],
 |  ...               [1., 1., 0., 1.]])
 |  >>> # Normalizer scales each row of X to unit norm. A separate scaling
 |  >>> # is applied for the two first and two last elements of each
 |  >>> # row independently.
 |  >>> ct.fit_transform(X)    # doctest: +NORMALIZE_WHITESPACE
 |  array([[0. , 1. , 0.5, 0.5],
 |         [0.5, 0.5, 0. , 1. ]])
 |
 |  Method resolution order:
 |      ColumnTransformer
 |      sklearn.utils.metaestimators._BaseComposition
 |      sklearn.base.BaseEstimator
 |      sklearn.base.TransformerMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, transformers, remainder='drop', sparse_threshold=0.3, n_jobs=None, transformer_weights=None, verbose=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit all transformers using X.
 |
 |      Parameters
 |      ----------
 |      X : array-like or DataFrame of shape [n_samples, n_features]
 |          Input data, of which specified subsets are used to fit the
 |          transformers.
 |
 |      y : array-like, shape (n_samples, ...), optional
 |          Targets for supervised learning.
 |
 |      Returns
 |      -------
 |      self : ColumnTransformer
 |          This estimator
 |
 |  fit_transform(self, X, y=None)
 |      Fit all transformers, transform the data and concatenate results.
 |
 |      Parameters
 |      ----------
 |      X : array-like or DataFrame of shape [n_samples, n_features]
 |          Input data, of which specified subsets are used to fit the
 |          transformers.
 |
 |      y : array-like, shape (n_samples, ...), optional
 |          Targets for supervised learning.
 |
 |      Returns
 |      -------
 |      X_t : array-like or sparse matrix, shape (n_samples, sum_n_components)
 |          hstack of results of transformers. sum_n_components is the
 |          sum of n_components (output dimension) over transformers. If
 |          any result is a sparse matrix, everything will be converted to
 |          sparse matrices.
 |
 |  get_feature_names(self)
 |      Get feature names from all transformers.
 |
 |      Returns
 |      -------
 |      feature_names : list of strings
 |          Names of the features produced by transform.
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : boolean, optional
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : mapping of string to any
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **kwargs)
 |      Set the parameters of this estimator.
 |
 |      Valid parameter keys can be listed with ``get_params()``.
 |
 |      Returns
 |      -------
 |      self
 |
 |  transform(self, X)
 |      Transform X separately by each transformer, concatenate results.
 |
 |      Parameters
 |      ----------
 |      X : array-like or DataFrame of shape [n_samples, n_features]
 |          The data to be transformed by subset.
 |
 |      Returns
 |      -------
 |      X_t : array-like or sparse matrix, shape (n_samples, sum_n_components)
 |          hstack of results of transformers. sum_n_components is the
 |          sum of n_components (output dimension) over transformers. If
 |          any result is a sparse matrix, everything will be converted to
 |          sparse matrices.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  named_transformers_
 |      Access the fitted transformer by name.
 |
 |      Read-only attribute to access any transformer by given name.
 |      Keys are transformer names and values are the fitted transformer
 |      objects.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.BaseEstimator:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [39]:
pd.DataFrame(X)

     0    1    2    3          4             5
0  0.0  1.0  0.0  0.0  44.000000  72000.000000
1  1.0  0.0  0.0  1.0  27.000000  48000.000000
2  1.0  0.0  1.0  0.0  30.000000  54000.000000
3  1.0  0.0  0.0  1.0  38.000000  61000.000000
4  1.0  0.0  1.0  0.0  40.000000  63777.777778
5  0.0  1.0  0.0  0.0  35.000000  58000.000000
6  1.0  0.0  0.0  1.0  38.777778  52000.000000
7  0.0  1.0  0.0  0.0  48.000000  79000.000000
8  1.0  0.0  1.0  0.0  50.000000  83000.000000
9  0.0  1.0  0.0  0.0  37.000000  67000.000000

In [0]:
?ColumnTransformer

##Data Splitting

Split data into test and training set

In [0]:
#Splitting the data into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

##Feature Scaling

Convert the data into the same scale

In [0]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [0]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
# we have already fit the data with the train set so we do not need to fit it again
#so only transform is run on the test set

In [46]:
pd.DataFrame(X_train)

     0    1         2         3         4         5
0  1.0 -1.0  2.645751 -0.774597  0.263068  0.123815
1 -1.0  1.0 -0.377964 -0.774597 -0.253501  0.461756
2  1.0 -1.0 -0.377964  1.290994 -1.975398 -1.530933
3  1.0 -1.0 -0.377964  1.290994  0.052614 -1.111420
4 -1.0  1.0 -0.377964 -0.774597  1.640585  1.720297
5  1.0 -1.0 -0.377964  1.290994 -0.081312 -0.167514
6 -1.0  1.0 -0.377964 -0.774597  0.951826  0.986148
7 -1.0  1.0 -0.377964 -0.774597 -0.597881 -0.482149

In [47]:
pd.DataFrame(X_test)

     0    1         2         3         4         5
0  1.0 -1.0  2.645751 -0.774597 -1.458829 -0.901663
1  1.0 -1.0  2.645751 -0.774597  1.984964  2.139811

In [0]:
#we do not need to transform the